.cards-by-category {
  display: flex;
}

.cards-by-category .cards-list-container  {
  display: flex;
  flex-wrap: wrap;
  width: 1024px;
}
.cards-by-category .cards-list-container .main-card-container{
  display: flex;
  justify-content: space-evenly;
  flex: 1 1 25%;
  margin-top: 15px;
}

@media (min-width: 768px) {
  .cards-by-category .cards-list-container {
    flex-wrap: wrap;
  }
}
