.photo{

}
.card-container{
  height: 120px;
  width:120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:rgb(204, 204, 204);

}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}