.photo{

}
/* html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
} */

.card-container{
  height: 100%;
  width:120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:rgb(204, 204, 204);
  margin-top:10%;
  padding: 5px;
}

.main-card-container{
  width:50%;
  display: flex;
  justify-content: center;
}

.new, .good, .fair, .worn, .used{
  text-align: left;
  width: 100%;
  margin-left:10%;
}
.new{
color:green;

}
.good{
  color: greenyellow;
}
.fair{
  color:yellow
}
.worn{
  color:orange;
}
.used{
  color:red;
}

@media(min-width: 768px){
  .main-card-container{
    width:120px;
  }
}