.search-bar-container{
  margin-top:10px;
  width:100%;
  height: 30px;
  display: flex;
  justify-content:center;
  align-items: center;
}

.search-term{
  width: 50%;
  height: 22px;
  border:1px solid black;
}

.search-button{
  font-size:15px;
  width:10%;
  height: 24px;
  border-right:1px solid black;
  border-top:1px solid black;
  border-bottom:1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.go{

}

@media(max-width:768px){
  .wrap{
    display: none;
  }
}