.header-container {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 200%;
  padding: 0 10%;
  border-bottom: 1px solid #000;
}

.logo {
  height: 50px;
  min-width: 50px;
}

@media (min-width: 768px) {
  .wrap {
    display: none;
  }
}
