.Sidebar {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #000;
}

.Sidebar-auth-display {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 36px;
  padding: 15px 0;
  border-bottom: 1px solid #000;
}

.Sidebar-categories-mobile {
  list-style-type: none;
  padding: 15px 0;

}

.Sidebar-categories-mobile-details {
  position: absolute;
  z-index: 1;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.Sidebar-categories-mobile-details-inner {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #fff;
}

.Sidebar-categories-mobile-details-inner-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0 0 15px;
}

.Sidebar-categories-mobile-details-inner-list-item {
  padding: 7.5px 0;
}
.Sidebar-categories-mobile-details-inner-list-item:first-of-type {
  padding: 0 0 7.5px;
}
.Sidebar-categories-mobile-details-inner-list-item:last-of-type {
  padding: 7.5px 0 0;
}

.Sidebar-categories-desktop {
  display: none;
}

.hidden {
  display: none;
}

@media (min-width: 768px) {
  .Sidebar {
    width: 20%;
    height: 100%;
    border-right: 1px solid black;
    border-bottom: 0;
  }

  .Sidebar-auth-display {
    flex-direction: column;
    height: 80px;
  }

  .Sidebar-categories-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
  }

  .Sidebar-categories-desktop-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 30px 0;
    padding: 0;
  }

  .Sidebar-categories-desktop-list-item {
    padding: 7.5px 0;
  }
  .Sidebar-categories-desktop-list-item:first-of-type {
    padding: 0 0 7.5px;
  }
  .Sidebar-categories-desktop-list-item:last-of-type {
    padding: 7.5px 0 0;
  }

  .Sidebar-categories-mobile {
    display: none;
  }

  .Sidebar-categories-mobile-details {
    display: none;
  }
}