.header {
  text-align: center;
}

h1 {
  padding: 15px;
}

.login-container, .register-container {
  width: 100%;
  max-width: 400px;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 10px 10px 2px 2px #999999;
  margin: auto;
  padding: 15px;

}

input {
  width: 80%;
  padding: 15px;
  border-radius: 10px;
  border: 0px;
  margin-top: 10px;
  font-size: 16px;
}

.btn {
  margin: 15px 0;
  padding: 15px;
  border: 0px;
  background: #114B5F;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
}

.btn:disabled {
  background-color: grey;
}
