.settings-input{
  border:1px solid black;
}

.main-settings-container{
  display: flex;
  flex-direction:column;
  width:100%;
  align-items: center;
  height: 100vh;
  border-left: 1px solid black;
}

.settings-container{
  display: flex;
  flex-direction:column;
  height: 50vh;
  align-content: center;
  justify-content: space-evenly;
}



.settings-error{
 animation: fadeIn 1s;
 color:red;
}


@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}